# Logs
logs
*.log

# Dependency directories
venv

# output of the python files
*.pyc

# Output of 'npm pack'
*.tgz

# PyCharm idea bits
.idea

# the config file that holds the super secret Bot token
.env